@model IEnumerable<Movie>
@*In this case, the model is an IEnumerable of the Movie class, 
which suggests that the view will display a collection of movies. 
The IEnumerable interface represents a sequence of elements that can be enumerated using a foreach loop, 
making it a convenient type for working with collections.*@
@{
	ViewData["Title"] = "Movies";
}
<h2>
	<i class="bi bi-film"></i>
	Movies
</h2>

<hr />
<a class="btn btn-primary" asp-action="Create">
	<i class="bi bi-plus"></i> Add Movie
</a>

<div class="mt-4">

	@if (Model == null)
	{
		<div class="alert alert-warning" role="alert">
			<i class="bi bi-exclamation-octagon"></i>
			No Movies found!
		</div>
	}
	else
	{
		<ul>
			@foreach (var movie in Model)
			{
				<li>@movie.Title</li>
			}
		</ul>
	}
</div>